<div class="row"> 
    <h1>Estudios</h1><br>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, illo enim voluptate quis cumque ipsam necessitatibus obcaecati recusandae. Perferendis odit, ipsa quas in rem illo quisquam at nisi velit ipsam.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, illo enim voluptate quis cumque ipsam necessitatibus obcaecati recusandae. Perferendis odit, ipsa quas in rem illo quisquam at nisi velit ipsam.
            </p>
        </ul>
    </div>
</div>
